@font-face {
  font-family: ionIcons;
  src: url(ionicons.ttf);
}

@font-face {
  font-family: robotoSlab;
  src: url(RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: robotoSlabBold;
  src: url(RobotoSlab-Bold.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: robotoSlab;
}

body p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#navigation {
width: 100%;
height: 70px;
background-color: #ffffff;

}

#navigation h1 {
  font-family: robotoSlabBold;
  width: 200px;
  margin: 0px 100px 0px 100px;
  padding: 0;
  display: inline;
  text-align: left;
}

#navigation ul {
  width: 300px;
  margin: 0;
  padding: 0;
  float: right;
  display: inline;
}

#navigation li {
  display: inline;
  font-family: ionIcons;
  margin-right: 40px;
  font-size: 3em;
  color: #000000;
}

#navigation ul li a {
  text-decoration: none;
  color: #000000;
}

#navigation ul li a:hover {

}

.fixed {
  position: fixed;
}

#top, #middle, #bottom {
  height: 600px;
}

#top p {
  width: 400px;
  float: left;
  color: #ffffff;
  padding-top: 70px;
}

#top img {
float: left;
}
.red {
  background-color: #2d72d9;
}

#imgtxt {
  height: 500px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;

}

.blue {
  background-color: #4F35DD;
}

.circle {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.circle img{
  width: 150px;
	height: 150px;
	background: #B778EA;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
  float: left;
  overflow: hidden;
}

.circle:not(:last-child) {
  margin-right: 45px;
}

.circle p {
  display: block;
  color: #ffffff;
}

#team {
  height: 500px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background-color: #FFAD21;
}

#footer {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  text-align: center;
}

#footer p {
  padding-top: 25px;
}
